:root {
  --bronze: #8C7853;
  --silver: #E6E8FA;
  --gold: #CFB53B;
}

.tp-membership-overages-page-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 25px;
}

.date-nav-link {
  text-decoration: none;
}

.tp-member-card {
  background: #fff;
  padding: 16px;
  -webkit-box-shadow: 0px 2px 10px rgba(0,0,0,.25);
          box-shadow: 0px 2px 10px rgba(0,0,0,.25);
  margin-bottom: 25px;
}

.tp-member-name {
  display: inline-block;
}

.tp-membership-label {
  background: #ddd;
  border-radius: 4px;
  font-size: .8rem;
  font-weight: bold;
  padding: 2px 4px;
}

.gold {
  background: var(--gold);
}

.silver {
  background: var(--silver);
}

.bronze {
  color: white;
  background: var(--bronze);
}

.tp-cat-group {
  background: #fafafa;
  max-width: 340px;
  padding: 6px;
}

.tp-cat-group-title {
  border-bottom: 1px solid #ddd;
  display: flex;
  justify-content: space-between;
  margin-top: 0;
}

.tp-overage-alert {
  color: red;
}

@media (max-width: 767px) {
  .tp-membership-overages-page-title {
    text-align: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
